<% include partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;"> Edit <%= currentUser.username %></h1>
        <div style="width: 30%; margin: 0 auto;">
            <form action="/users/<%= user._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" value="<%= currentUser.username %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="input" name="email" value="<%= currentUser.email %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="input" name="description" value="<%= currentUser.description.info  %>">
                </div>
                <div class="form-group">
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>