<% include partials/header %>

<div>
    <h4><%= user.username %> - <%= user.email%></h4>
    <p><%= user.id %></p>
</div>
<p>
    <a href="/users/<%= user.id %>/edit" class="btn btn-primary">Edit</a>
    <a href="/users/" class="btn btn-primary">Go back</a>
</p>

<p> Service Name    ||  Date Started    || Product Description</p>


        <p><%= user.username %> - <%= user.description %></p>


<form id="delete" action="/users/<%= user._id %>?_method=DELETE" method="POST">
    <button class="btn btn-primary">Delete User</button>
</form>


<% include partials/footer %>